<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <% if user_signed_in? %> 
  <ul class="sidenav">
	<li><a class="active" href="#home">しおり一覧</a></li>
	<li><%= link_to "プロフィール作成", new_user_path, class: "get" %></li>
	<li><%= link_to "しおり作成", new_post_path, class: "get" %></li>
	<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
</ul>
<% else %>
<ul class="sidenav">
	<li><%= link_to "ログイン", new_user_session_path, class: 'get' %></li>
  </ul>
  <% end %>
  </header>
  
    <%= yield %>
  </body>
</html>
